/* Modern QSS with a fresh and contemporary look */

#window {
    background-color: #282c34; /* Dark theme background */
    color: #f0f0f3; /* Light text color */
    font-family: 'Segoe UI', sans-serif;
}

#title {
    font-size: 14px;
    font-weight: bold;
    padding: 10px 20px;
    color: #000000; /* Soft off-white text */
    border-radius: 8px;
    letter-spacing: 1px;
}

#Close {
    background-color: white;
    border-radius: 12px;
    padding: 5px 15px;
}

#Close:hover {
    background-color: white;
    border-radius: 12px;
    padding: 5px 15px;
}

#miniMize {
    background-color: white;
    border-radius: 12px;
    padding: 5px 15px;
}

#miniMize:hover {
    background-color: white;
    border-radius: 12px;
    padding: 5px 15px;
}

#playPause, #Forward, #Rewind {
    background-color: white;
    border-radius: 12px;
    padding: 5px 15px;
}

#playPause:hover, #Forward:hover, #Rewind:hover {
    background-color: white;
    border-radius: 12px;
    padding: 5px 15px;
}
